/* .container {
  width: 100%;
  height: 100vh;
} */

.company-name h1 {
  color: rgba(161, 17, 17, 0.79);
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  position: relative;
  width: 100%;
  display: block;
  font-family: monospace;
  text-transform: uppercase;
}

.company-name h1::before,
.company-name h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

.menu h2 {
  border-top: 1px solid #edc84b;
  border-bottom: 1px solid #edc84b;
  text-align: center;
  font-size: 2rem;
}
